* {
    font-family: Arial, sans-serif;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    color: white;
    background-color: blueviolet;
}

#navbar a {
    display: block;
    text-decoration: none;
    padding: 27px;
    cursor: pointer;
    color: white;
}

#navbar li {
    list-style: none;
    position: relative;
    width: 100%;
    border-top: 1px solid white;
}

nav header {
    margin: 10px;
    text-align: center;
    padding: 30px 15px;
}

#navbar ul {
    padding: 0;

}

header {
    font-size: 1.8em;
    font-weight: bold;
}

main {
    margin: 15px;
    line-height: 1.5;
}

.main-section {
    margin-bottom: 50px;
}

#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
    margin-right: 20px;
}

.main-section header, .main-section h3 {
    color: blueviolet;
}

@media (max-width:750px) {
    #navbar {
        position: static;
        width: 100%;
        text-align: center;
    }
    #main-doc {
        margin-left: 0;
    }
}